.exam-container {
}

.exam-title {
   text-align: center;
   display: flex;
   justify-content: center;
   color: #fff;
   background: navy;
   padding: 10px 20px;
}

.image {
    height: 700px;
    /* width: 450px; */
}

.question-container {
    display: flex;
    margin-left: 150px;
    margin-top: 50px;
}

.question {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-left: 50px;
    margin-right: 50px;
}

.help {
    margin-top: 20px;
    color: navy;
    font-size: 20px;
}

.answer {
    margin-top: 10px;
}

.form {
    display: flex;
    /* flex-direction: column; */
    color: navy;
}

.option {
    margin: 10px auto;
}

.option-answer {
    margin: auto 10px;
}



.buttons {
    margin-top: 50px;
    display: flex;
    justify-content: space-between
}

.btn {
    font-size: 20px;
    background: navy;
    color: #fff;
    border: none;
    outline: none;
    padding: 10px 20px;
    cursor:pointer;
    transition: 0.4s;
}

.btn:hover{
    background:#fff;
    color: navy;
}