.home-container {
    display: flex;
}

.right-container {
    width: 70%;
}

.card{
    padding: 50px;
    border-radius: 15px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    margin: 40px;
    transition: 0.4s;
    cursor: pointer;
}

.card:hover {
    transition: 0.4s;
    background-color: navy;
    color: white;

}

.top-titl-e {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.quizzes {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}