.login-container {
    background: navy;
    color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.login-form-container{
    margin: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}