.signup-container {
    background-color: black;
    color: white;
    height: 100vh;
}

.signup-form-container {
    padding: 100px 10px;
}

.span {
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center
    /* text-align: center */
}

.sign-login-form {
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: center;
    margin: auto;
    background-color: black;
}

.name {
    display: flex;
}

.firstname {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}

.lastname {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}

.signup-info {
    display: flex;
}

.email {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}

.examnumber {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}

.pass {
    display: flex;
}

.password {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}

.confirm {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}

.log-login-input {
    margin: 10px 0;
    padding: 10px 20px;
    border-radius: 5px;
}

.logins-button{
    margin: 10px 0;
    padding: 10px 20px;
}