.answer-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;
  }

  .quest-title {
    position: unset;
    background: navy;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 700;
    margin-bottom: 20px;
  }

  .label {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .timer {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
   margin-left: 100px;
}

  .question-img {
    width: 500px;
    margin: 100px 0;
  }

  .radio-container {
    display: flex;
    /* justify-content: center; */
    align-items: center;
  }

  .radio{
    display: flex;
    margin: 0 10px;
    cursor: pointer;
  }

button {
    width: 100%;
    font-size: 16px;
    color: #ffffff;
    background-color: navy;
    border-radius: 15px;
    display: flex;
    padding: 5px;
    margin: 5px 0;
    justify-content: flex-start;
    align-items: center;
    border: 2px solid rgb(2, 2, 97);
    cursor: pointer;
  }

  button:hover {
    background-color: #7d8abb;
  }
  
  button:focus {
    outline: none;
  }
  
  .button {
    width: 100%;
    font-size: 16px;
    color: #ffffff;
    background-color: navy;
    border-radius: 15px;
    display: flex;
    padding: 5px;
    margin: 5px 0;
    justify-content: flex-start;
    align-items: center;
    border: 2px solid rgb(2, 2, 97);
    cursor: pointer;
  }

  .button:hover {
    background-color: #7d8abb;
  }
  
  .button:focus {
    outline: none;
  }

  .submit {
    padding: 7px 10px;
  }

  .submit:hover {
    color: navy;

  }

  .score-section {
    display: flex;
    margin: 150px auto;
    justify-content: center;
    font-size: 50px;
  }

  bold {
    color: navy;
    font-weight: 800;
    margin: 0 10px;
  }